@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:black ;
    background-image: url('../assets/loginbackgroud.jpeg');
    background-size: cover;
}




.username, .password{
    border:solid 1px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4d6b88;
}
.username:hover,.password:hover{
background-color: aliceblue;
}

.loginbutton{
font-family: "Poetsen One", sans-serif;
 color:rgb(0, 0, 0); 
 font-weight: 400;
 border-radius: 10px;
 background-color: aqua; 
 border-color: none; 
 padding: 10px;
 margin-top: 30px ;
}

.loginbutton:hover {
    background: rgb(40, 255, 255);
    transform: scale(1.05);
  }

.middlebox{
    border: solid;
    padding: 100px ;
    width: 30%;
    height: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: #34495e;
    

}

.headline {
    margin-bottom: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
     }