.middle-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1px;
  /* min-height: 60vh; */
  
  background-color: #696969;
  flex: 5;
  
 

}

.midbartable{
  height: fit-content;
  margin-top: 1.5rem;
}


.box {
  background: #139fc2;
  padding: 8px;
  width: 180px;
  height: 120px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


@media (max-width: 800px) {
  .middle-container {
    flex-direction: column;
    margin-bottom: 20px;
    
  }

  .box {
    width: 90%;
    height: auto;
    padding: 30px;
  }
}


td,th{
  padding: 5px;
}

.searchbarmid{
  padding: 8px;
  margin: 20px 20px;
  border-radius: 5px;
  font-size: 18px;
  width: 500px;
  height: 40px;
  background: #000;
  color: aliceblue;
}

.searchicon{
  color:white;
 font-size:35px;
 margin-top: 20px;
}

.searchfullset {
  display:flex ;
  /* weight:fit-content; */
}